# This is the config for using `pre-commit` on this repository.
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# NOTE: Individual hook revisions are kept up to date automatically with the `auto_updates` workflow, which
#       bumps hooks to the latest tag. That workflow manually specifies every repository except for `poetry`
#       since it sometimes specifies the most recent tag on a stable version branch instead of the default branch.
# NOTE: New repos added here should also be added to the `auto_updates` workflow.
---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c # frozen: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude_types: [svg]
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: no-commit-to-branch

  - repo: https://github.com/psf/black
    rev: 6305bf1ae645ab7541be4f5028a86239316178eb  # frozen: 26.1.0
    hooks:
      - id: black

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 9b1e9a33f1b33f6ecc2fdbb8d7cc894e951106e4  # frozen: v0.14.13
    hooks:
      - id: ruff-check

  - repo: https://github.com/dosisod/refurb
    rev: 854db6cdfab04b7f4911d9cba6bfc084f086ea92  # frozen: v2.2.0
    hooks:
      - id: refurb

  - repo: https://github.com/jendrikseipp/vulture
    rev: dada4a02e862cfe72d6c8eac2e9b7aae080b1df2 # frozen: v2.14
    hooks:
      - id: vulture

  - repo: https://github.com/adrienverge/yamllint
    rev: cba56bcde1fdd01c1deb3f945e69764c291a6530  # frozen: v1.38.0
    hooks:
      - id: yamllint

  - repo: https://github.com/python-poetry/poetry
    # NOTE: The frozen version here may not always be the latest version:
    # https://python-poetry.org/docs/pre-commit-hooks/#why-does-pre-commit-autoupdate-not-update-to-the-latest-version
    # NOTE: This `rev` should be manually updated whenever `poetry` is updated. The `rev` can be found by checking out
    #       the `poetry` repository and running the command: `git show-ref --tags <tag_name>`
    rev: b9e5d79fc57de2f2e60973019d56662b7398440b # frozen: 2.2.1
    hooks:
      - id: poetry-check
        args: [--lock, --strict]

  # NOTE: Don't use this config for your own repositories. Instead, see
  #       "Git pre-commit Integration" at https://docs.phylum.io/phylum-ci/git_precommit
  - repo: local
    hooks:
      - id: phylum-ci
        name: analyze dependencies with phylum-ci
        language: system
        files: ^poetry\.lock$
        entry: poetry run phylum-ci -vv
