# Configuration file for `yamllint`
# Reference: <https://yamllint.readthedocs.io/en/stable/index.html>
---

extends: default

rules:
  line-length:
    max: 120
  comments:
    # The `pre-commit autoupdate --freeze` command only uses one space between the `rev` hash and version comment
    min-spaces-from-content: 1
