{# This template module holds variables and macros for use in other templates #}

{#
    The filter for releases that aren't already in the historic CHANGELOG (which
    gets included at the end of this template) is done by release tag timestamp
    instead of version since the version comparison is only possible as strings,
    which does not properly account for individual components of the version.
    New timestamps can be computed in Python as:

    min_release_timestamp = datetime.datetime(year=2024, month=1, day=6).timestamp()
#}
{% set min_release_timestamp = 1704520800.0 %}

{% macro version_compare_url(prev_version, version) -%}
https://github.com/{{ context.repo_owner }}/{{ context.repo_name }}/compare/v{{ prev_version }}...v{{ version }}
{%- endmacro %}
