{#
    This is a Jinja template for generating the CHANGELOG with Python Semantic Release.
    Ref: https://python-semantic-release.readthedocs.io/en/latest/changelog_templates.html
#}
{% set releases = ctx.history.released.items() | list %}
{% set release = releases[0][1] %}
{% set curr_version = releases[0][0].as_tag() %}
{% set prev_version = releases[1][0].as_tag() %}
{% set ver_compare_url = prev_version | compare_url(curr_version) %}
{% set insertion_flag = ctx.changelog_insertion_flag %}
{% set prev_changelog_contents = ctx.prev_changelog_file | read_file | safe %}
{% set changelog_parts = prev_changelog_contents.split(insertion_flag, maxsplit=1) %}
{% set prev_changelog_top = changelog_parts[0] | trim %}
{% set prev_changelog_bottom = changelog_parts[1] | trim %}
{{ "%s\n\n%s\n" | format(prev_changelog_top, insertion_flag | trim) }}
## [{{ curr_version }}]({{ ver_compare_url }}) ({{ release.tagged_date.strftime("%Y-%m-%d") }})
{% include ".changes.j2" %}
{{ "%s" | format(prev_changelog_bottom) }}
